@page
@model library_dbms.Pages.Assets.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Asset.Category" class="control-label"></label>
				<br />
				<select id="categories" asp-for="Asset.Category" asp-items="Model.Categories">
					<option value=""></option>
				</select>
				<span asp-validation-for="Asset.Category" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.BarcodeNum" class="control-label"></label>
				<input asp-for="Asset.BarcodeNum" class="form-control" />
				<span asp-validation-for="Asset.BarcodeNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.Manufacturer" class="control-label"></label>
				<br />
				<select id="manufacturer" asp-for="Asset.Manufacturer" asp-items="Model.Manufacturers">
					<option value=""></option>
				</select>
				<span asp-validation-for="Asset.Manufacturer" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.ModelNum" class="control-label"></label>
				<input asp-for="Asset.ModelNum" class="form-control" />
				<span asp-validation-for="Asset.ModelNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.Name" class="control-label"></label>
				<input asp-for="Asset.Name" class="form-control" />
				<span asp-validation-for="Asset.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.Notes" class="control-label"></label>
				<input asp-for="Asset.Notes" class="form-control" />
				<span asp-validation-for="Asset.Notes" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.AssetStatus" class="control-label"></label>
				<br />
				<select id="status" asp-for="Asset.AssetStatus" asp-items="Model.Statuses">
					<option value=""></option>
				</select>
				<span asp-validation-for="Asset.AssetStatus" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.SerialNum" class="control-label"></label>
				<input asp-for="Asset.SerialNum" class="form-control" />
				<span asp-validation-for="Asset.SerialNum" class="text-danger"></span>
			</div>

			<!--
			<div class="form-group">
				<label asp-for="AssetLocation.BuildingNum" class="control-label"></label>
				<input asp-for="AssetLocation.BuildingNum" class="form-control" />
				<span asp-validation-for="AssetLocation.BuildingNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AssetLocation.RoomNum" class="control-label"></label>
				<input asp-for="AssetLocation.RoomNum" class="form-control" />
				<span asp-validation-for="AssetLocation.RoomNum" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AssetLocation.Notes" class="control-label"></label>
				<input asp-for="AssetLocation.Notes" class="form-control" />
				<span asp-validation-for="AssetLocation.Notes" class="text-danger"></span>
			</div> -->

			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
