@page
@model library_dbms.Pages.Assets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Asset.AssetId" />
            <div class="form-group">
                <label asp-for="Asset.Category" class="control-label"></label>
                <input asp-for="Asset.Category" class="form-control" />
                <span asp-validation-for="Asset.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.BarcodeNum" class="control-label"></label>
                <input asp-for="Asset.BarcodeNum" class="form-control" />
                <span asp-validation-for="Asset.BarcodeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Manufacturer" class="control-label"></label>
                <input asp-for="Asset.Manufacturer" class="form-control" />
                <span asp-validation-for="Asset.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.ModelNum" class="control-label"></label>
                <input asp-for="Asset.ModelNum" class="form-control" />
                <span asp-validation-for="Asset.ModelNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Name" class="control-label"></label>
                <input asp-for="Asset.Name" class="form-control" />
                <span asp-validation-for="Asset.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Notes" class="control-label"></label>
                <input asp-for="Asset.Notes" class="form-control" />
                <span asp-validation-for="Asset.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.AssetStatus" class="control-label"></label>
                <input asp-for="Asset.AssetStatus" class="form-control" />
                <span asp-validation-for="Asset.AssetStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.SerialNum" class="control-label"></label>
                <input asp-for="Asset.SerialNum" class="form-control" />
                <span asp-validation-for="Asset.SerialNum" class="text-danger"></span>
            </div>

            <br /><h4>Vendor: </h4> <br />

            <input type="hidden" asp-for="SuppliedBy.AssetId" />
            <div class="form-group">
                <label asp-for="SuppliedBy.VendorId" class="control-label"></label>
                <input asp-for="SuppliedBy.VendorId" class="form-control" />
                <span asp-validation-for="SuppliedBy.VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliedBy.PurchasePrice" class="control-label"></label>
                <input asp-for="SuppliedBy.PurchasePrice" class="form-control" />
                <span asp-validation-for="SuppliedBy.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuppliedBy.PurchaseDate" class="control-label"></label>
                <input asp-for="SuppliedBy.PurchaseDate" class="form-control" />
                <span asp-validation-for="SuppliedBy.PurchaseDate" class="text-danger"></span>
            </div>

            <br /><h4>Asset Location: </h4> <br />

            <input type="hidden" asp-for="AssetLocation.AssetId" />
            <div class="form-group">
                <label asp-for="AssetLocation.BuildingNum" class="control-label"></label>
                <input asp-for="AssetLocation.BuildingNum" class="form-control" />
                <span asp-validation-for="AssetLocation.BuildingNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetLocation.RoomNum" class="control-label"></label>
                <input asp-for="AssetLocation.RoomNum" class="form-control" />
                <span asp-validation-for="AssetLocation.RoomNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetLocation.Notes" class="control-label"></label>
                <input asp-for="AssetLocation.Notes" class="form-control" />
                <span asp-validation-for="AssetLocation.Notes" class="text-danger"></span>
            </div>

            <br /><h4>Update asset ownership: </h4> <br />

            <select id="assign-to" name="assign-to" onchange="displaySelect(this);">
                <option value="no">No</option>
                <option value="employee">Employee</option>
                <option value="department">Department</option>
                <option value="assigned">Assigned</option>
            </select>

            <!-- For now, this doesnt work
            <div id="employeeSelect" style="display:none">
                <br />
                <input type="hidden" asp-for="AssignedTo.AssignedToEmp.AssetId" />
                <div class="form-group">
                    <label asp-for="AssignedTo.AssignedToEmp.EmployeeId" class="control-label"></label>
                    <select asp-for="AssignedTo.AssignedToEmp.EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                    <span asp-validation-for="AssignedTo.AssignedToEmp.EmployeeId" class="text-danger"></span>
                </div>
            </div> -->

            <div id="departmentSelect" style="display:none">
                <br />
                <input type="hidden" asp-for="AssignedTo.AssignedToDep.AssetId" />
                <div class="form-group">
                    <label asp-for="AssignedTo.AssignedToDep.DepartmentNum" class="control-label"></label>
                    <select asp-for="AssignedTo.AssignedToDep.DepartmentNum" class="form-control" asp-items="ViewBag.DepartmentNum"></select>
                    <span asp-validation-for="AssignedTo.AssignedToDep.DepartmentNum" class="text-danger"></span>
                </div>
            </div>

            <br /><br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
