@page
@model library_dbms.Pages.AssetLocations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<!-- This page, and subsequent .cs file really shouldn't be in the AssetsLocation folder, because it updates a bunch of
different things, but it works for now... -->

<h1>Create</h1>
<h4>Asset Location</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetLocation.AssetId" class="control-label"></label>
                <select asp-for="AssetLocation.AssetId" class="form-control" asp-items="ViewBag.AssetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetLocation.BuildingNum" class="control-label"></label>
                <input asp-for="AssetLocation.BuildingNum" class="form-control" />
                <span asp-validation-for="AssetLocation.BuildingNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetLocation.RoomNum" class="control-label"></label>
                <input asp-for="AssetLocation.RoomNum" class="form-control" />
                <span asp-validation-for="AssetLocation.RoomNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetLocation.Notes" class="control-label"></label>
                <input asp-for="AssetLocation.Notes" class="form-control" />
                <span asp-validation-for="AssetLocation.Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
